@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

:root {
    --background-color: #3b3b3b;
    --menu-background-color: #272727;
    --accent-color: #e94b4b;
}

body {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--background-color);

    font-family: 'Roboto', monospace;
    font-weight: 400;
}

#menu {
    width: 30px;
    height: 30px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    position: absolute;
    left: 10px;
    top: 10px;

    padding: 5px;
    background-color: var(--menu-background-color);
}


#start-button {
    font-size: 72px;
    padding: 15px 40px;
    transition: 0.2s;
}

.btn {
    cursor: pointer;

    color: var(--accent-color);

    border: 2px solid var(--accent-color);
    border-radius: 10px;
}

.grid {
    width: 70vw;
    max-width: 620px;
    height: 70vh;

    display: grid;
    gap: 15px;
    
    margin-bottom: 100px;
}

.card {
    width: 100%;

    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;

    background: url(./assets/images/pattern.svg);
    font-size: 70px;
    
    box-shadow: 3px 3px 15px var(--menu-background-color);
    overflow: hidden;
    transition: 0.1s;
}

.stats {
    min-width: 200px;

    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    background-color: var(--menu-background-color);
    
    font-size: 24px;
    color: var(--accent-color);

    padding: 15px;
    border: 2px solid var(--accent-color);
    border-radius: 10px;
}


#info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    font-size: 62px;
    color: var(--accent-color)
}


#restart-button {
    font-size: 48;
    padding: 10px 20px;
}
